body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.709);
}

.app{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 278px;
    height: 335px;
    background-color: rgb(128, 73, 0);
   
    }
 #display{
    width: 270px;
    height: 50px;
    background-color: rgb(215, 163, 95);
    text-align: center;
    color: rgb(15, 15, 12);
    font-size: 30px;
    
    }
    button{
        height: 85px;
        width: 85px;
        margin: 3px;
        font-size: 30PX;
        border-radius: 15px;
    }